.storeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.itemListWrapper{
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
