* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }

.brand .logo {
    width: 120px;
  }
.brand {
    max-width: 30%;
    min-width: 30%;    
    flex-direction: column; 
}

.brand, .cart {
    flex-grow: 1; 
    display: flex; 
    justify-content: center;
    align-items: center;
    align-content: center;;
}

.logo {
    background-color: black;
    border-radius: 50%;
}


.shoppingStatusDisplay {
    list-style: none;
    padding: 0px;
}

.cart {
    flex-direction: column;
    max-width: 30%;
} 

.cartImg {
    max-width: 50px;
    max-height: 50px;
}

.navbar {
    min-width: 70%;
}
  
.form-inline {
    display: flex;
    flex-direction: row;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
}

  