* {
  padding: 0;
  box-sizing: border-box;
}

.brand .logo {
  width: 120px;
}
.brand {
  max-width: 30%;
  min-width: 30%;
  flex-direction: column;
  margin-left: 30%;
}

.logo {
  background-color: black;
  border-radius: 50%;
}

.shoppingStatusDisplay {
  list-style: none;
  padding: 0px;
}

.cart {
  flex-direction: column;
  max-width: 30%;
  margin-left: 50%;
}

.cartImg {
  max-width: 50px;
  max-height: 50px;
  background-color: ivory;
  border-radius: 50%;
}

.form-inline {
  display: flex;
  flex-direction: row;
}

.center-block {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.alert {
  animation-delay: 2s;
}
