.countExercise {
  display: flex;
  flex-direction: row;
  padding: 2%;
  flex-wrap: nowrap;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

button {
  margin: 2%;
}
