.storeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  margin: auto;
}

.itemFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.cardFooter,
.buttonContainer,
.card-body img,
.card-footer button {
  margin: auto;
}

.cardFooter {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
